main {
  padding: 7rem 3rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
}

#attendance-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#subject-info {
  display: grid;
  grid-template-columns: 12ch max-content;
}
#date-info {
  display: grid;
  grid-template-columns: 15ch max-content;
}
#date-info > div {
  margin-top: -5px;
}
#date-info > div input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  width: 23ch;
}
input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  width: 15ch;
}

#submit {
  background-color: var(--primary-color);
}
#submit:hover {
  transition: 0.3s;
  background-color: var(--auxillary-color);
}
